.header {
  padding: 10px;
  text-align: center;
  background: #e2dfd8;
  color: rgb(220, 59, 59);
  font-size: 30px;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
