* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: "Silkscreen", cursive;
  background-color: rgb(68, 66, 66);
  color: whitesmoke;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
